@model Anas.Models.collectdata
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Animals</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    
    <script type="text/javascript">
    window.onload = function ()
    { fillType(); }


        function fillType() {
            debugger;
            $.ajax({
                type: 'Get',
                url: '@Url.Action("animals_Type", "Animals")',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (key, value) {
                        $('#tabletype').append('<tbody><tr><td><span onclick=filldesc(' + value.id + ')>' + value.name + '</span></td> <td>' + value.description + '</td></tr></tbody>');
                    });
                   
                },
                error: function (error) {
                    alert("f");
                }
            });
        }


        function filldesc(val) {
            debugger;


            $.ajax({

                type: 'Get',
                url: '@Url.Action("Description/id", "Animals")'.replace("id" , val),
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (key, value) {

                        $('#tabledesc').append('<tbody><tr><td>' + value.description + '</td> </tr></tbody>');
                    });
                    
                },
                error: function (error) {
                    alert("f");
                }
            });
        }

    </script>
    
</head>
<body>
   
    <div class="col-lg-offset-6 ">
        @{
            
            var grid = new WebGrid(Model._category , canPage: true, rowsPerPage: 2);
            
            }
        @grid.GetHtml(

                 
        
        columns: grid.Columns(
                             grid.Column( "type" ,     "Type"),
                            
                            
                             grid.Column("id",      "Counting")))
        </div>
    <br /><br /><br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 text-center">
                <table class="table text-center table-bordered table-responsive">
                    
                    <thead>
                        <tr>
                            <th class="text-center">Type</th>
                            <th class="text-center">Counting</th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var data in Model._category)
                        {
                            <tr>
                                <td> @data.type</td>
                                <td> @data.id</td>
                            </tr>

                        }
                    </tbody>
                </table>



            </div>
        </div>
    </div>

    <br /><br />

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 text-center">
                <table class="table text-center table-bordered table-responsive" id="tabletype">
                    <caption class="text-center" style="font-size:40px">Animals Type </caption>
                    <thead>
                        <tr>
                            <th class="text-center">Name Of Animal</th>
                            <th class="text-center">Type</th>
                        </tr>

                    </thead>

                </table>
            </div>
        </div>
    </div>

    <br /><br />
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-4 col-md-offset-1 col-sm-offset-1 col-xs-offset-1"></div>

            <table class=" table table-bordered table-responsive-sm table-responsive-md text-center" id="tabledesc">

               
            </table>
        </div>
    </div>

</body>
</html>
